<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/list}">List</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:fragment="job-table">
    <div class="container">
        <!-- loops through each job in its own table, this information is passed from the
            ListController, css class "job-listing" has been added-->
        <table th:each="job : ${jobs}" class="job-listing">
            <tr>
                <td>ID</td>
                <!--includes job ID in table-->
                <td th:text="${job.id}"></td>
            </tr>
            <tr>
                <td>Name</td>
            <!--  includes job name in table.           -->
                <td th:text="${job.name}"></td>
            </tr>
            <tr>
                <td>Employer</td>
                <!-- includes employer name of job-->
                <td th:text="${job.employer}"></td>
            </tr>
            <tr>
                <td>Location</td>
                <!-- includes job location in table-->
                <td th:text="${job.location}"></td>
            </tr>
            <tr>
                <td>Position Type</td>
            <!-- includes position type-->
                <td th:text="${job.positionType}"></td>
            </tr>
            <tr>
                <td>Skill</td>
                <!-- includes skill/core competency-->
                <td th:text="${job.coreCompetency}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
